.hover-zoom {
    transition: transform 0.4s ease;
  }
.hover-zoom:hover {
    transform: scale(1.4);  /* expand entire card */
    z-index: 5;             /* bring to front */
    position: relative;     /* so it stacks above others */
  }

.fade-in {
    opacity: 0;
    transform: translateZ(30px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }

.fade-in.visible {
    opacity: 1;
    transform: translateZ(0);
  }